<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="crypt_key" translate="label" type="text" sortOrder="999" showInDefault="1">
                <label>Replace Encryption Key</label>
                <field id="replace_crypt_key" translate="label comment" type="select" sortOrder="10" showInDefault="1">
                    <label>Enable Crypt Key Override?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable override of the Encryption Key to use the one specified below.</comment>
                </field>
                <field id="replacement_crypt_key" translate="label comment" type="text" sortOrder="20" showInDefault="1">
                    <label>Replacement Crypt Key</label>
                    <comment>The following Crypt Key will be used instead of default one configured in env.php. (setup:upgrade required if the value is added,remove or changed)</comment>
                    <depends>
                        <field id="replace_crypt_key">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
